<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" style="margin-top: 10px;">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <div class="navbar-form-custom">
                <div class="form-group">
                    <h2 style="margin-top: 15px;padding-left: 30px;">@ViewBag.NombreGrupo</h2>
                </div>
            </div>
        </div>
        
        @Html.Partial("_LoginPartial")
    </nav>
</div>